/*----------reset----------*/

body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

code,
kbd,
samp,
tt {
    font-size: 100%;
}


/*purpose To enable resizing for IE */


/*branch For IE6-Win, IE7-Win */

input,
button,
textarea,
select {
    *font-size: 100%;
}

body {
    line-height: 180%;
}

ol,
ul,
li {
    list-style: none;
}

:link,
:visited,
ins {
    text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


/*HTML5 tag*/

section,
article,
aside,
footer,
header,
nav,
main {
    display: block;
}


/*----------reset:end----------*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-size: cover;
}

body {
    font-family: Arial, Helvetica, "微軟正黑", "Microsoft JhengHei", sans-serif;
    color: #333;
    background: #fff;
    font-size: 12px;
    line-height: 1.4;
}

a {
    display: block;
}

.cf {
    *zoom: 1;
}

.cf:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    position: relative;
    display: table;
    width: 90%;
    clear: both;
    z-index: 2;
    margin: 0 auto;
}


/*----------header/footer----------*/

#header {
    display: block;
    width: 100%
}

#logo {
    float: left;
    width: 50%;
    max-width: 150px;
    margin-top: 12px;
}

#logo img {
    width: auto;
    max-height: 55px;
}

.myaccount {
    float: right;
    text-align: right;
    position: relative;
    width: 50%;
    height: 83px;
}

.myaccount a {
    display: inline-block;
    top: calc(50% - 21px);
    position: absolute;
    right: 0;
}

.myaccount img {
    max-height: 35px;
}

footer {
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: #ea8805 solid 1px;
    text-align: center;
}


/*----------header/footer:end----------*/

@media screen and (max-width: 640px) {}

@media screen and (max-width: 375px) {
    #logo img {
        max-height: 43px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 320px) {}


/*----------animated:start----------*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
